<!DOCTYPE HTML>
<html>
<head>
    <title><%= current_page.data.title || "junto - social habit tracking" %></title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "site" %>
    <noscript><%= stylesheet_link_tag "noscript" %></noscript>
</head>

<body class="is-preload">
    <div id="wrapper">
        <%= yield %>
    </div>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery.scrollex.min" %>
    <%= javascript_include_tag "jquery.scrolly.min" %>
    <%= javascript_include_tag "browser.min" %>
    <%= javascript_include_tag "breakpoints.min" %>
    <%= javascript_include_tag "util" %>
    <%= javascript_include_tag "main" %>
</body>
<!--
  Stellar by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
</html>
